<div class="firmness" style="--firmness: {{ firmness }}0% ">
	<div class="firmness__point firmness__soft">Soft</div>
	<div class="firmness__dot"></div>
	<div class="firmness__point firmness__firm">Firm</div>
</div>
