{% extends "base.twig" %}

{% block content %}

	<ul class="products__list">
		{% for category in products %}
			<li class="products__category">
				<a href="{{ category.link }}">{{ category.name }}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
