{% extends "base.twig" %}

{% block content %}
	<div>
		<h1 class="heading__xl">About Us</h1>

		{{ post.content|wpautop }}

		<ul>
			<li>
				<a href="/contact">Contact Us</a>
			</li>
			<li>
				<a href="/careers">Careers</a>
			</li>
			<li>
				<a href="/resources">Resources</a>
			</li>
		</ul>

		{% if post.form %}
			{{ post.form|shortcodes }}
		{% endif %}
	</div>
{% endblock %}
