{% extends "base.twig" %}

{% block content %}
	<div class="capability_wave"></div>
	<div class="capability">
		<h1 class="heading__xl">Capabilities</h1>
		{% for row in post.get_field('capability') %}

			<div class="capability__blocks">
				<div class="capability__blocks--img">
					<img src="{{ row.image.url }}"/>
				</div>

				<h3 class="capability__blocks--meta">{{row.capability_title}}</h3>
			</div>
			<div class="capability__info">
				<h3>{{row.capability_title}}</h3>
				{{row.capability_description}}
			</div>
		{% endfor %}
	</div>
{% endblock %}
