{% extends "base.twig" %}

{% block content %}

	<ul class="products__list">
		{% for product in products %}
			<li class="products__category">
				<a href="{{ product.link }}">{{ product.name }}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
