{% extends "base.twig" %}

{% block content %}
	{% set hero = post.get_field('hero') %}
	<div class="page__hero">
		<h1>{{ hero.title }}</h1>
		<p>{{ hero.subtitle }}</p>
		{# TODO: setup contact link field or context #}
		<p>contact us</p>

		{# TODO: add slider or image field #}
	</div>

	{% for p in post.get_field('main_products') %}
		{% set product = p.product[0] %}
		<h2>{{ product.post_title }}</h2>
		<p>{{ product.description }}</p>
	{% endfor %}

	{# TODO: setup contact link field or context #}
	<p>contact us</p>
{% endblock %}
