{% extends "base.twig" %}

{% block content %}
	{% set hero = post.get_field('hero') %}
	<div class="page__hero">
		<h1>{{ hero.title }}</h1>
		<p>{{ hero.subtitle }}</p>
		<a href="/contact" class="action__blue">Contact Us</a>

		{# TODO: add slider or image field #}
	</div>

	<div class="blocks">
		{% for p in post.get_field('main_products') %}
			{% set product = p.product[0] %}
			<div class="card card__product">
				<h2>{{ product.post_title }}</h2>
				<p>{{ product.description }}</p>
			</div>
		{% endfor %}

		<div class="card card__contact">
			<h2>Looking for something?</h2>
			<a href="/contact" class="action__green">Contact Us</a>
		</div>
	</div>

	<div class="blocks"></div>

{% endblock %}
