{% extends "base.twig" %}

{% block content %}
	<div class="content">
		<h1>{{ product.title }}</h1>
		<p>{{ product.description }}</p>

		{% if children %}
			<h2>Child Products:</h2>
			<ul>
				{% for child in children %}
					<li>
						<a href="{{ child.link }}">{{ child.title }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock %}
