.contact {
	&__content {
		display: grid;
		grid-template-columns: 1fr;
		gap: $spacer-xl;
		margin: $spacer-lg 0 $spacer-lg 0;
		@include query("medium") {
			grid-template-columns: 1fr 1fr;
		}
	}
	&__blurb {
		line-height: 2em;
	}
	&__info {
		@include query("medium") {
			margin-left: $spacer-max;
		}
	}
	&__rule {
		display: none;
		margin: $spacer-max 0 $spacer-max 0;
		@include query("medium") {
			display: block;
		}
	}
}
