.history__hero {
	@include gridInherit;
	overflow: hidden;
	margin-top: $spacer-xxl;
	grid-template-rows: minmax(min-content, 1fr) minmax(min-content, 3.5fr) minmax(
			min-content,
			2fr
		);
}
.history__inner {
	grid-column: container;
	box-sizing: border-box;
	align-content: center;
	justify-content: center;
	h1 {
		color: $color-green;
		font-size: $font-size-heading-lg;
		margin-top: $spacer-xxl;
		margin-bottom: $spacer-md;
		line-height: 0.95;
	}
	@include query("large") {
		h1 {
			font-size: $font-size-heading-hero;
			max-width: 45%;
			margin-bottom: 0;
		}
	}
}
