main {
	@include gridInherit;
}
.home__hero {
	@include gridInherit;

	@include query("x-large") {
	}
	background-image: url($streams);
	background-repeat: no-repeat;
	background-color: $color-BGgreen;
	background-size: cover;
	// background-color: $color-green;

	@include query("medium") {
		min-height: 400px;
		height: 60vh;
	}
}

.hero__inner {
	grid-column: container;
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: 1fr min-content;
	padding: $spacer-max 0 $spacer-max 0;
	width: 60%;
	@include query("medium") {
		align-content: center;
		gap: 25px;
		margin: $spacer-lg 0 0 0;
	}
	h1 {
		color: $color-white;
		span {
			color: $color-light-blue;
		}
	}
}
.action {
}
.hero__meta {
	grid-column: container;
	color: white;
}
.flow {
	@include gridInherit;
	background-color: $color-light-tan;
	min-height: 70vh;
}
.flow__inner {
	grid-column: container;
	display: grid;
	align-content: center;
	grid-template-columns: auto 7fr;
	h2 {
		grid-column: 1 / span 2;
		font-size: 2.5em;
	}
	.button {
		margin-top: $spacer-lg;
		justify-self: center;
		grid-column: 1 / span 2;
	}
	&__bar {
		padding: $spacer-xxl 0 0 0;
		grid-column: 1;
		grid-row: 2;
		display: grid;
		justify-content: center;
		#dot1 {
			background-color: $color-light-blue;
			width: 3em;
			height: 3em;
			border-radius: 50%;
		}
		#line1 {
			background-color: $color-light-blue;
			margin-left: 42%;
			width: 0.35em;
			height: 4em;
		}
		#dot2 {
			background-color: $color-medium-blue;
			width: 3em;
			height: 3em;
			border-radius: 50%;
		}
		#line2 {
			background-color: $color-medium-blue;
			margin-left: 42%;
			width: 0.35em;
			height: 4em;
		}
		#dot3 {
			background-color: $color-deep-blue;
			width: 3em;
			height: 3em;
			border-radius: 50%;
		}
		#line3 {
			background-color: $color-deep-blue;
			margin-left: 42%;
			width: 0.35em;
			height: 4em;
		}
		#dot4 {
			background-color: $color-BGgreen;
			width: 3em;
			height: 3em;
			border-radius: 50%;
		}
	}
	&__content {
		display: grid;
		padding: $spacer-xxl 0 0 0;
		align-content: center;
		article:nth-child(1) {
			h3 {
				color: $color-light-blue;
			}
		}
		article:nth-child(2) {
			h3 {
				color: $color-medium-blue;
			}
		}
		article:nth-child(3) {
			h3 {
				color: $color-deep-blue;
			}
		}
		article:nth-child(4) {
			h3 {
				color: $color-BGgreen;
			}
		}
		article {
			padding: $spacer-sm 0 0 $spacer-xxl;
			h3 {
				font-size: 2em;
			}
		}
	}
}
.work {
	@include gridInherit;
	background-image: url($streams);
	background-repeat: no-repeat;
	background-color: $color-BGgreen;
	background-size: cover;
	min-height: 40vh;
	&__inner {
		grid-column: container;
		padding: $spacer-max 0 $spacer-max 0;
		h2 {
			font-size: 2.5em;
			color: $color-light-blue;
		}
		p {
			color: white;
		}
		&__slideshow {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-items: center;
			article {
				background-color: $color-light-tan;
				position: relative;
				width: 300px;
				height: 300px;
				overflow: hidden;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
				h3 {
					position: absolute;
					bottom: 5%;
					margin: 0 25% 0 25%;
					text-align: center;
					font-weight: 600;
					color: $color-deep-blue;
				}
			}
		}
	}
}
