@use "sass:math";

.firmness {
	$index-initial: $index-foreground;
	$point-dimension: 25px;
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: $index-initial;

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: math.div($point-dimension, 2);
		left: 0;
		right: 0;
		height: 2px;
		background-color: $color-light-grey;
		z-index: $index-initial - 1;
	}

	&__point {
		display: flex;
		flex-flow: column;
		color: var(--firmness-color, $color-black);
		z-index: inherit;

		&::before {
			content: "";
			display: block;
			height: $point-dimension;
			width: $point-dimension;
			border-radius: 50%;
			background-color: var(--firmness-color, $color-black);
		}
	}

	&__dot {
		position: relative;
		display: flex;
		flex: 0 1 100%;
		z-index: inherit;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 4px;
			left: calc(var(--firmness) - 9px);
			height: 19px;
			width: 19px;
			border-radius: 50%;
			background-color: $color-black;
			z-index: inherit;
		}
	}

	&__soft {
		--firmness-color: #{$color-green};
		align-items: flex-start;
	}

	&__firm {
		--firmness-color: #{$color-navy};
		align-items: flex-end;
	}
}
