.heading__main {
	font-size: var(--font-heading-main);
}

.heading__lg {
	font-size: var(--font-heading-lg);
}

.heading__md {
	font-size: var(--font-heading-md);
}

.heading__sm {
	font-size: var(--font-heading-sm);
}

.text__strong {
	font-size: var(--font-strong);
	font-weight: bold;
}
