.heading__hero {
	font-weight: bold;
	color: $color-green;
	font-size: var(--font-heading-lg);
	@include query("medium") {
		font-size: var(--font-heading-hero);
	}
}

.heading__xl {
	font-size: var(--font-heading-xl);
	font-weight: bold;
}

.heading__lg {
	font-size: var(--font-heading-lg);
	font-weight: bold;
}

.heading__md {
	font-size: var(--font-heading-md);
	font-weight: bold;
}

.heading__sm {
	font-size: var(--font-heading-sm);
	font-weight: bold;
}

.heading__content {
	@extend .heading__md;
	@extend .color__green;
	margin-bottom: $spacer-md;
}

.text__strong {
	font-size: var(--font-strong);
	font-weight: bold;
}

.color__green {
	color: $color-green;
}

.color__navy {
	color: $color-navy;
}

.color__white {
	color: $color-white;
}
