$breakpoints: (
	"small": 420px,
	"medium": 780px,
	"large": 1160px,
	"x-large": 1400px,
);

// spacers
$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-md: 16px;
$spacer-lg: 24px;
$spacer-xl: 32px;
$spacer-xxl: 60px;
$spacer-max: 120px;

// global heights
$header-height: 120px;

// font properties
$font-size-small: 16px;
$font-size-body: 18px;
$font-size-heading-sm: 24px;
$font-size-heading-md: 28px;
$font-size-heading-lg: 32px;
$font-size-heading-main: 40px;

$line-height: 1.125rem;

$font-stack: Monserrat, Helvetica, sans-serif;

// index stacking
$index-background: 1;
$index-middle: 10;
$index-foreground: 20;
$index-popover: 30;

// base colors
$color-navy: #0b3753;
$color-green: #468467;
$color-light-blue: #6da7cb;

$color-black: #2a3640;
$color-true-black: #000;
$color-black-t10: transparentize($color-black, 0.9);
$color-black-t30: transparentize($color-black, 0.7);
$color-black-t60: transparentize($color-black, 0.4);
$color-black-t90: transparentize($color-black, 0.1);

$color-light-grey: #e3e5e5;
$color-white: #fff;
$color-white-t90: transparentize($color-white, 0.1);
