$breakpoints: (
	"small": 420px,
	"medium": 780px,
	"large": 1160px,
	"x-large": 1400px,
);

$spacer-sm: 8px;
$spacer-md: 16px;
$spacer-lg: 24px;

$color-navy: #263640;
$color-white: #fff;

$index-background: 1;
$index-middle: 2;
$index-foreground: 3;
