%action {
	display: inline-block;
	width: max-content;
	padding: $spacer-sm $spacer-md;
	color: var(--action-text);
	font-weight: bold;
	transition: background .125s ease-out;
}

.action__blue {
	@extend %action;
	color: $color-navy;
	background: $color-white;
	border: 2px solid $color-navy;
	border-radius: 3px;

	&:hover {
		background: transparentize($color-navy, .9);
	}
}

.action__green {
	@extend %action;
	color: $color-rich-green;
	background: $color-white;
	border: 2px solid $color-rich-green;
	border-radius: 3px;

	&:hover {
		background: transparentize($color-rich-green, .95);
	}
}

.action__navy {
	@extend %action;
	background: $color-navy;

	&:hover {
		background: transparentize($color-navy, .15);
	}
}

.action__black {
	@extend %action;
	background: $color-black;

	&:hover {
		background: transparentize($color-black, .075);
	}
}

.action__white {
	@extend %action;
	color: $color-navy;
	background: $color-white;

	&:hover {
		background: transparentize($color-white, .075);
	}
}

.action__link {
	color: var(--text-black);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.action__nav {
	padding: 0;
	border: none;
	background: none;
	color: var(--text-black);
}
