%action {
	display: inline-block;
	width: max-content;
	padding: $spacer-sm $spacer-xl;
	color: var(--action-text);
	transition: background 0.125s ease-out;
}

.action__blue {
	@extend %action;
	color: $color-white;
	background: $color-deep-blue;
	border-radius: 15px;
	&:hover {
		background: transparentize($color-light-blue, 0.3);
	}
}

.action__green {
	@extend %action;
	color: $color-rich-green;
	background: $color-white;
	border: 2px solid $color-rich-green;
	border-radius: 3px;

	&:hover {
		background: transparentize($color-rich-green, 0.95);
	}
}

.action__deep-blue {
	@extend %action;
	background: $color-deep-blue;

	&:hover {
		background: transparentize($color-deep-blue, 0.15);
	}
}

.action__black {
	@extend %action;
	background: $color-black;

	&:hover {
		background: transparentize($color-black, 0.075);
	}
}

.action__white {
	@extend %action;
	color: $color-deep-blue;
	background: $color-white;

	&:hover {
		background: transparentize($color-white, 0.075);
	}
}

.action__link {
	color: var(--text-black);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.action__nav {
	padding: 0;
	border: none;
	background: none;
	color: var(--text-black);
}
