// content provides basic spacing for WYSIWYG or other simple content areas

.content {
	> *:not(:last-child) {
		margin-bottom: $spacer-md;
	}

	h1,
	h2,
	h3 {
		color: $color-deep-blue;
		font-size: var(--font-heading-md);
		font-weight: bold;
	}

	ul {
		margin-left: $spacer-lg;

		li {
			margin-bottom: $spacer-xs;
			list-style: disc;
		}
	}
}
