:root {
	--navBorderColor: #{$color-white};
	--navPadding: #{$header-padding};
	--logoHeight: #{$logo-height};
}

// body class toggled by scroll event in menu.js
.header__is-small {
	--navBorderColor: #{$color-white};
	--navPadding: #{$header-padding-small};
	--logoHeight: #{$logo-height-small};
}
.header-slide {
	background-color: $color-BGgreen;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	background-image: url($streams);
	background-repeat: no-repeat;
	background-color: $color-BGgreen;
	background-size: cover;
}
.header {
	@include gridInherit;
	position: fixed;
	width: 100vw;
	top: 0;
	right: 0;
	left: 0;
	padding-top: var(--navPadding);
	padding-bottom: var(--navPadding);
	z-index: $index-header;
	transition: $transition-nav;

	&__logo {
		height: var(--logoHeight);
		transition: $transition-nav;
	}

	&__inner {
		grid-column: container;
		display: grid;
		grid-template-columns: 2fr 1fr;
		@include query("large") {
			grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 3fr);
		}
		align-items: center;
	}

	&__nav {
		display: none;
		@include query("large") {
			display: contents;
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 35px;
			height: var(--logoHeight);
		}

		li {
			position: relative;
			color: $color-white;

			&:hover > ul {
				display: block;
			}
		}

		li > ul {
			display: none;
			position: absolute;
			background-color: white;
			padding: $spacer-sm;
			z-index: $index-header;
		}
	}

	&__skip-nav {
		transform: translateY(-120%);
		position: absolute;
		top: $spacer-sm;
		left: $spacer-lg;
		transition: transform 0.125s ease-in;
		padding: $spacer-sm;
		border: 2px solid black;
		border-radius: 4px;
		background: white;
		color: black;
		font-weight: bold;
		z-index: $index-header;

		&:focus {
			transform: translateY(0);
		}
	}
}
.nav-toggle {
	justify-self: right;
	align-self: center;
	height: 30px;
	width: 30px;
	display: block;
	border-radius: 25px;
	background-color: $color-deep-blue;
	color: $color-white;
	transition: all 0.5s ease;
	:hover {
		cursor: pointer;
	}
	&.move {
		transform: rotate(90deg);
		background-color: $color-deep-blue;
	}
	@include query("large") {
		display: none;
	}
}
.mobile-nav {
	display: none !important;
	position: fixed;
	top: calc(var(--navPadding) * 2 + var(--logoHeight));
	width: 60vw;
	height: 100%;
	z-index: $index-popover;
	background-image: url($streams);
	background-repeat: no-repeat;
	background-color: $color-BGgreen;
	background-size: cover;
	background-color: $color-medium-blue;
	opacity: 0.95;
	box-shadow: 1px 3px 4px $color-black-t10;
	transition: 12.5s ease-in;
	@include gridInherit();
	ul {
		grid-column: container;
		padding-left: $spacer-lg;
	}
	li {
		line-height: 5em;
		color: $color-white;
	}
	.action__blue {
		margin: $spacer-lg;
	}
}
.toggled {
	display: block !important;
}
