{# Fallback to a product with a mis-named layout file or field #}

<div>
	<p>OOPS!</p>
	<p>Please create a new twig file in /modules/ and name it
		<code>{{ twig_url|slice(8)|raw }}</code>
	</p>
	<p>Anyway, here's all the data you added:</p>
	<pre style="height:250px;overflow-y:auto;padding:10px;background:#fafafa;">
		{{ dump(product) }}
	</pre>
</div>
