.blocks {
	--horizontal-padding: 0;
	display: grid;
	gap: $spacer-xl;
	grid-template-columns: 1fr;
	padding-left: var(--horizontal-padding);
	padding-right: var(--horizontal-padding);

	@include query("medium") {
		grid-template-columns: repeat(2, 1fr);
		--horizontal-padding: #{$spacer-xl};
	}

	@include query("large") {
		grid-template-columns: repeat(3, 1fr);
		--horizontal-padding: #{$spacer-max};
	}
}
.about_blocks {
	--horizontal-padding: 0;
	display: grid;
	gap: $spacer-xl;
	grid-template-columns: 1fr;
	padding-left: var(--horizontal-padding);
	padding-right: var(--horizontal-padding);
	@include query("medium") {
		grid-template-columns: repeat(2, 1fr);
		--horizontal-padding: #{$spacer-xl};
	}

	@include query("large") {
		grid-template-columns: repeat(4, 1fr);
		--horizontal-padding: #{$spacer-sm};
	}
}
