.capability_wave {
	@include gridInherit;
	height: 30vh;
	width: 100vw;
	background: url($home-wave) no-repeat;
	background-size: contain;
	opacity: 0.35;
	position: fixed;
	top: 40%;
	z-index: -5;
}
.capability {
	grid-column: container;
	display: grid;
	grid-template-columns: 1fr;
	@include query("medium") {
		grid-template-columns: 1fr 3fr;
	}
	row-gap: $spacer-xxl;
	z-index: $index-middle;
	&__blocks {
		@include query("medium") {
			grid-column: 1;
		}
		display: grid;
		grid-template-rows: 2fr 1fr;
		height: 20vh;
		width: 20vh;
		background-color: $color-white;
		box-shadow: 1px 1px 4px $color-black-t10;
		text-align: center;
		box-sizing: content-box;
		justify-self: center;
		h3 {
			font-size: $font-size-body;
		}
		&--img {
			height: auto;
			width: auto;
			justify-self: center;
			align-self: center;
			img {
				padding-top: $spacer-sm;
				max-width: 60%;
				height: auto;
				object-fit: contain;
			}
		}
		&--meta {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 $spacer-md 0 $spacer-md;
			gap: $spacer-xs;
		}
	}
	&__info {
		@include query("medium") {
			grid-column: 2;
		}
		padding-left: $spacer-lg;
		align-self: center;
		h3 {
			color: $color-green;
			font-size: $font-size-heading-sm;
			padding-bottom: $spacer-sm;
		}
		p {
			padding-bottom: $spacer-sm;
		}
		ul {
			padding-left: $spacer-xxl;
		}
		li {
			list-style-type: disc;
		}
	}
}
