.facilities {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: $spacer-max;

	@include query("medium") {
		grid-template-columns: 1fr 2fr;
	}

	&__meta {
		:not(:last-child) {
			margin-bottom: $spacer-xxl;
		}
	}
}
