.footer {
	@include gridInherit();
	// margin-top: $spacer-xxl;
	background: var(--bg-light-grey);

	&__main {
		display: grid;
		grid-column: container;
		grid-template-areas:
			"contact logo"
			"contact nav";
		padding: $spacer-xxl 0;
		color: var(--text-black);
	}

	&__contact {
		grid-area: contact;
		display: flex;
		row-gap: $spacer-xl;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__logo {
		grid-area: logo;
		display: flex;
		justify-self: flex-end;
		align-self: flex-start;
		height: 76px;
	}

	&__nav {
		grid-area: nav;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		text-align: right;

		li {
			display: inline-block;

			&:not(:last-child):after {
				content: "|";
			}
		}
	}

	&__copy {
		grid-column: viewport;
		padding: $spacer-xl 0;
		color: var(--text-black);
		background: var(--bg-white);
		font-weight: bold;
		font-size: var(--font-small);
		text-align: center;
	}

	&__copy--nav {
		display: inline-block;

		li {
			display: inline-block;

			&:before {
				content: "|";
				font-weight: normal;
				color: $color-black-t30;
			}
		}
	}
}
