:root {
	--navBorderColor: #{$color-white};
	--navPadding: #{$header-padding};
	--logoHeight: #{$logo-height};
}

// body class toggled by scroll event in menu.js
.header__is-small {
	--navBorderColor: #{$color-light-grey};
	--navPadding: #{$header-padding-small};
	--logoHeight: #{$logo-height-small};
}

.header {
	@include gridInherit();
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding-top: var(--navPadding);
	padding-bottom: var(--navPadding);
	background: var(--bg-white);
	border-bottom: 1px solid var(--navBorderColor);
	z-index: $index-header;
	transition: $transition-nav;

	&__logo {
		height: var(--logoHeight);
		transition: $transition-nav;
	}

	&__inner {
		grid-column: container;
		display: grid;
		grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 3fr);
		align-items: center;
	}

	&__nav {
		display: contents;

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: var(--logoHeight);
		}

		li {
			position: relative;

			&:hover > ul {
				display: block;
			}
		}

		li > ul {
			display: none;
			position: absolute;
			background-color: white;
			padding: $spacer-sm;
			z-index: $index-header;
		}
	}

	&__megaMenu {
		grid-column: viewport;
		position: absolute;
		top: calc(var(--navPadding) * 2 + var(--logoHeight));
		left: 0;
		right: 0;
		background: white;
		border-bottom: 1px solid $color-light-grey;
		height: 300px;
		opacity: 0;
		transition: $transition-nav;
		visibility: hidden;

		&--is-open {
			visibility: visible;
			opacity: 1;
		}
	}

	&__skip-nav {
		transform: translateY(-120%);
		position: absolute;
		top: $spacer-sm;
		left: $spacer-lg;
		transition: transform 0.125s ease-in;
		padding: $spacer-sm;
		border: 2px solid black;
		border-radius: 4px;
		background: white;
		color: black;
		font-weight: bold;
		z-index: $index-header;

		&:focus {
			transform: translateY(0);
		}
	}
}

.megaMenu__products {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 240px;
	gap: $spacer-xl;
	padding: 0 $spacer-lg;
}

.megaMenu__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	&:hover {
		text-decoration: underline;
	}

	img {
		height: 100px;
		margin: auto;
	}
}
