.history {
	margin-bottom: $spacer-max;

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// remove justify to add options description in history.twig
		h2 {
			white-space: nowrap;
		}
	}
	.timeline-lower__inner {
		display: flex;
		#year {
			display: none;
		}
	}
	@include query("medium") {
		&__header {
			flex-direction: row;
			gap: $spacer-lg;
		}
		.timeline-lower__inner {
			display: flex;
			#year {
				display: initial;
			}
		}
	}
	.timeline-slider {
		grid-column: container;
		margin-bottom: $spacer-max;
	}
}
.wavecontainer.home_history {
	margin: $spacer-max 0 $spacer-max 0;
	@include gridInherit;
	height: min-content;

	.wave {
		grid-column-start: 1;
		height: 100px;
	}
	.left {
		grid-column-start: 1;
		justify-self: right;
		.prev {
			position: sticky;
			z-index: $index-foreground;
			font-size: $font-size-heading-sm;
			cursor: pointer;
		}
	}
	.right {
		grid-column-start: 3;
		justify-self: left;
		.next {
			z-index: $index-foreground;
			font-size: $font-size-heading-sm;
			cursor: pointer;
			position: sticky;
		}
	}
	.dotcontainer {
		grid-column-start: 1;
		.vl {
			display: none;
		}
	}
	.timeline-lower__inner {
		display: flex;
	}
	@include query("medium") {
		margin: 0 0 $spacer-max 0;
		.wave {
			height: 400px;
		}
		.left {
			.prev {
				font-size: $font-size-heading-lg;
			}
		}
		.right {
			.next {
				font-size: $font-size-heading-lg;
			}
		}
		.dotcontainer {
			.vl {
				display: block;
			}
		}
	}
}
