.nav-toggle {
	justify-self: right;
	align-self: center;
	height: 30px;
	width: 30px;
	border-radius: 25px;
	background-color: $color-green;
	color: $color-white;
	transition: all 0.5s ease;
	:hover {
		cursor: pointer;
	}
	&.move {
		transform: rotate(90deg);
		background-color: $color-navy;
	}
}
.mobile-nav {
	display: none !important;
	position: fixed;
	top: calc(var(--navPadding) * 2 + var(--logoHeight));
	width: 70vw;
	height: 100%;
	z-index: $index-popover;
	background-color: white;
	opacity: 0.95;
	box-shadow: 1px 3px 4px $color-black-t10;
	transition: all 1.5s ease;
	@include gridInherit();
	ul {
		grid-column: container;
		padding-left: $spacer-lg;
	}
	li {
		line-height: 5em;
		color: $color-navy;
	}
	.action__blue {
		margin: $spacer-lg;
	}
}
.toggled {
	display: block !important;
}
