.one_column {
	margin-top: $spacer-xl;
	width: 100%;
	object-fit: contain;
	overflow: none;
	justify-content: center;
	margin-bottom: $spacer-max;

	a {
		color: $color-medium-blue;
		text-decoration: underline;
	}
	strong {
		font-weight: $font-bold;
	}
	img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}
	h3 {
		color: $color-green;
	}
	&_row {
		display: grid;
		margin-top: $spacer-xl;
	}
	button {
		color: $color-white;
		background-color: $color-green;
		width: fit-content;
		padding: 1em 2em 1em 2em;
		border-radius: 0.5em;
		&:hover {
			filter: brightness(85%);
		}
	}
	ul {
		margin-left: $spacer-xxl;
		margin-top: $spacer-lg;
		margin-bottom: $spacer-lg;

		li {
			margin-bottom: $spacer-sm;
			list-style: disc;
		}
	}
	p {
		margin-left: 0px;
	}
	ol {
		margin-left: $spacer-xxl;
		margin-top: $spacer-lg;
		margin-bottom: $spacer-lg;

		strong {
			text-decoration: underline;
		}

		li {
			margin-bottom: $spacer-lg;
			list-style: decimal;
		}
	}
}
