.spec_page_hero {
	grid-column: viewport;
	height: 30vh;
	margin-top: -8vh;
	background: url($home-wave);
	background-repeat: no-repeat;
	background-position: 0% 10%;
	background-size: cover;
	z-index: $index-background;
}
.spec__sheets {
	display: grid;
	grid-template-columns: 1fr;

	@include query("medium") {
		grid-template-columns: repeat(3, minmax(220px, 1fr));
		margin: $spacer-sm 0 $spacer-lg 0;
	}
	justify-items: center;
	align-items: center;
	.spec__cards {
		display: grid;
		grid-template-rows: 2fr 0.5fr;
		max-height: 500px;
		width: 95%;
		height: 95%;
		background-color: $color-white;
		box-shadow: 1px 1px 4px $color-black-t10;
		text-align: center;
		box-sizing: content-box;
		align-items: center;
		&:hover {
			background-color: $color-black-t10;
		}
		img {
			grid-row: 1;
			object-fit: contain;
			width: 100%;
			max-height: 100%;
			overflow: hidden;
			padding: $spacer-lg $spacer-lg $spacer-lg $spacer-lg;
		}
		&--meta {
			font-size: $font-size-body;
			font-weight: 600;
			grid-row: 2;
			padding-bottom: $spacer-md;
			h3 {
				padding: $spacer-sm;
			}
		}
	}
}
