.sustainability {
	@include gridInherit;
	background: var(--bg-green);
	color: var(--text-true-white);

	&__inner {
		grid-column: container;
		padding-top: $spacer-xxl;
		padding-bottom: $spacer-xxl;
		text-align: center;

		> :not(:last-child) {
			margin-bottom: $spacer-xl;
		}
	}

	&__number {
		font-size: $font-size-heading-main;
		font-weight: bold;
		letter-spacing: 6px;
	}
}
