.sustainability {
	@include gridInherit;
	background: url($sustainability) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	color: var(--text-white);

	&__inner {
		grid-column: container;
		padding-top: $spacer-xxl;
		padding-bottom: $spacer-xxl;
		text-align: center;

		> :not(:last-child) {
			margin-bottom: $spacer-xl;
		}
	}

	&__number {
		font-size: var(--font-heading-xl);
		font-weight: bold;
		letter-spacing: 6px;
	}
}
