.timeline-lower {
	color: var(--text-black);

	&__inner {
		display: flex;
		align-content: center;
		justify-content: center;
		padding-top: $spacer-xxl;
		padding-bottom: $spacer-xxl;
		text-align: center;
		p {
			max-width: 25vw;
			margin: auto;
		}
		h2 {
			&#year {
				color: var(--bg-green);
			}
		}
	}
}
