// upper half of the timeline
.timeline-upper {
	color: var(--text-black);

	&__inner {
		display: grid;
		grid-template-columns: 1fr;
		// padding-bottom: $spacer-xxl;
		align-items: center;
		justify-items: center;
		h3 {
			display: inline-block;
			text-align: center;
			font-size: $font-size-small;
			margin-bottom: $spacer-md;
			&#year {
				color: var(--bg-green);
			}
		}
		p {
			text-align: left;
			margin-bottom: $spacer-xl;
		}
		img {
			max-height: 20vh;
			width: 70%;
			object-fit: contain;
			overflow: hidden;
		}
		iframe {
			height: 100%;
			width: 70%;
			min-height: 250px;
			object-fit: contain;
			overflow: hidden;
		}
		@include query("medium") {
			grid-row: 2;
			grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 3fr);
			padding-top: $spacer-xxl;
			h3 {
				font-size: $font-size-small;
			}
			video {
				margin-left: $spacer-xxl;
				width: 75%;
				object-fit: contain;
			}
			img {
				margin-left: $spacer-xxl;
				width: 75%;
				object-fit: contain;
				overflow: hidden;
			}
		}
		@include query("large") {
			grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 3fr);
			padding-top: $spacer-xxl;
			h3 {
				font-size: $font-size-body;
			}
			img {
				margin-left: $spacer-xxl;
				width: 75%;
				object-fit: contain;
				overflow: hidden;
			}
			article {
				margin-right: $spacer-md;
			}
		}
	}
}
// lower half of the timeline
.timeline-lower {
	color: var(--text-black);
	&__inner {
		display: none;
		@include query("medium") {
			grid-row: 3;
			align-content: flex-end;
			justify-content: center;
			text-align: center;
			display: flex;
			p {
				max-width: 60vw;
				margin: auto;
			}
		}
		h2 {
			&#year {
				color: var(--bg-green);
			}
		}
		@include query("large") {
			justify-content: center;
			text-align: center;
			display: flex;
			p {
				max-width: 45vw;
				margin: auto;
			}
		}
		h2 {
			&#year {
				color: var(--bg-green);
			}
		}
	}
}
// timeline functionality
.wavecontainer {
	position: relative;
	display: block;

	grid-column: viewport;
	overflow: hidden;
	background: url($stationary-wave) no-repeat;
	background-size: cover;
	@include query("medium") {
		@media (max-height: 720px) {
			padding-top: $spacer-max;
		}
		@media (max-height: 950px) {
			padding-top: $spacer-max;
		}
	}

	.dotcontainer {
		grid-column: container;
		width: 80vw;
		position: relative;
		top: 200px;
		.dot {
			color: $color-light-blue;
			font-size: 1em;
			z-index: $index-middle;
			cursor: pointer;
			position: absolute;
			&#dot1 {
				display: none;
				left: 20vw;
				top: 50px;
			}
			&#dot2 {
				left: 50vw;
			}
			&#dot3 {
				display: none;
				left: 80vw;
				top: -50px;
			}
			&:hover {
				color: $color-navy;
			}
		}
	}
	@include query("medium") {
		.dotcontainer {
			.dot {
				&#dot1 {
					display: block;
				}
				&#dot3 {
					display: block;
				}
			}
		}
	}
	@include query("large") {
		.dotcontainer {
			.dot {
				&#dot1 {
					display: block;
				}
				&#dot3 {
					display: block;
				}
			}
		}
	}
	.background_mask {
		background: linear-gradient(90deg, $color-baby-blue 0%, $color-green 25%);
	}
	.wave {
		-webkit-mask: url($looping-dots);
		mask: url($looping-dots);
		background-repeat: repeat-x;
		background-position: 0% 50%;
		height: 35vh;
		width: 15500px;
		margin-top: $spacer-sm;
		margin-bottom: $spacer-xl;
		transition: linear ease 0.5s;
		animation: waveslide 20s linear infinite;
		animation-play-state: paused;
		z-index: $index-background;
		&.play {
			animation-play-state: running;
		}
		&.playBackward {
			animation-play-state: running;
			animation-direction: reverse;
		}
	}
	// .waveright {
	// 	animation: waveslideright 20s linear infinite;
	// 	animation-play-state: paused;
	// 	&.play {
	// 		animation-play-state: running;
	// 	}
	// }
}

.timeline-slider {
	grid-row: 2;
	display: grid;
	grid-template-rows: 2fr 1fr;
	position: relative;
	height: fit-content;
	z-index: $index-middle;
}
.timeline-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	opacity: 0;
}
.active {
	opacity: 1;
	transform: translateY(0);
	z-index: $index-foreground;
	@include query("medium") {
		display: grid;
		grid-template-rows: auto;
		transition: ease-in-out;
	}
}
.next_slide {
	transform: translateY(100%);
}
.last_slide {
	transform: translateY(-100%);
}
.left {
	grid-column-start: 1;
	grid-row-start: 2;
	justify-self: center;
	.prev {
		position: sticky;
		top: 50%;
		z-index: $index-foreground;
		font-size: $font-size-small;
		cursor: pointer;
	}
}
.right {
	grid-column-start: 3;
	grid-row-start: 2;
	justify-self: center;
	.next {
		z-index: $index-foreground;
		font-size: $font-size-small;
		cursor: pointer;
		position: sticky;
		top: 50%;
	}
}
.vl {
	border-left: 3px solid $color-navy;
	height: 35vh;
	margin-left: 5px;
	position: relative;
	overflow: hidden;
	top: -37vh;
}
#mobile-year {
	text-align: center;
}
@include query("medium") {
	#mobile-year {
		display: none;
	}
	.left {
		.prev {
			font-size: $font-size-body;
		}
	}
	.right {
		.next {
			font-size: $font-size-body;
		}
	}
}
@include query("large") {
	#mobile-year {
		display: none;
	}
	.left {
		.prev {
			font-size: $font-size-heading-hero;
		}
	}
	.right {
		.next {
			font-size: $font-size-heading-hero;
		}
	}
}
@keyframes waveslide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-5188px, 0, 0); /* The image width */
	}
}
// @keyframes waveslideright {
// 	0% {
// 		transform: translate3d(0, 0, 0);
// 	}
// 	100% {
// 		transform: translate3d(5188px, 0, 0); /* The image width */
// 	}
// }

@keyframes dotslide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-5188px, 0, 0); /* The image width */
	}
}
