.two_column {
	margin-top: $spacer-xl;
	display: grid;
	grid-template-columns: 1/1;
	width: 100%;
	object-fit: contain;
	overflow: none;
	.column_1 {
		grid-column-start: 1;
		margin: $spacer-xl;
	}
	.column_2 {
		grid-column-start: 2;
		margin: $spacer-xl;
	}
	img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}
	h3 {
		color: $color-green;
	}
	&_row {
		display: grid;
		margin-top: $spacer-xl;
	}
	button {
		color: $color-white;
		background-color: $color-green;
		width: fit-content;
		padding: 1em 2em 1em 2em;
		border-radius: 0.5em;
		&:hover {
			filter: brightness(85%);
		}
	}
}
