.whats_new {
	display: grid;
	grid-auto-rows: minmax(auto, max-content);
	box-sizing: border-box;
	margin-bottom: $spacer-max;
	hr {
		grid-row: 3;
		margin-bottom: $spacer-max;
	}
	h1 {
		grid-row: 1;
		margin: 0 0 $spacer-lg 0;
	}
	&_featured {
		grid-row: 2;
		display: grid;
		grid-template-columns: 1fr;
		@include query("medium") {
			margin-bottom: $spacer-max;
		}
		&_info {
			grid-column: 1;
			max-width: 85%;
			h3 {
				font-size: $font-size-body;
				line-height: 0.5em;
			}
			h2 {
				font-size: $font-size-heading-xl;
				color: $color-green;
				line-height: 0.5em;
			}
			p {
				line-height: 1.75em;
				margin: $spacer-lg 0 $spacer-xl 0;
			}
			button {
				background: var(--action-blue);
				display: inline-block;
				padding: 8px 16px;
				color: var(--action-text);
				font-weight: bold;
			}
		}
		&_img {
			justify-self: center;
			img {
				margin-top: $spacer-lg;
				object-fit: contain;
				max-height: 300px;
			}
		}
		@include query("medium") {
			grid-template-columns: 2fr 1fr;
			grid-template-rows: 40vh;
			&_img {
				grid-column: 2;
				img {
					object-fit: contain;
					max-height: 100% !important;
				}
			}
		}
	}
	&_subproduct {
		grid-row: 4;
		display: grid;
		grid-template-columns: 1fr;
		@include query("medium") {
			grid-template-rows: 50vh;
			grid-template-columns: repeat(3, 1fr);
		}
		article {
			margin: $spacer-lg 0 $spacer-lg 0;
			display: grid;
			grid-template-rows: 2fr 0.5fr 0.5fr 2fr 0.5fr;
			width: 95%;
			height: max-content;
			background-color: $color-white;
			box-shadow: 1px 1px 4px $color-black-t10;
			text-align: center;
			box-sizing: content-box;
			align-items: center;
			&:hover {
				background-color: $color-black-t10;
			}
			img {
				justify-self: center;
				object-fit: contain;
				max-height: 20vh;
			}
			p {
				justify-self: center;
				padding: 0 $spacer-md 0 $spacer-md;
			}
			button {
				background: var(--action-blue);
				justify-self: center;
				display: inline-block;
				padding: 8px 16px;
				color: var(--action-text);
				font-weight: bold;
				margin-bottom: $spacer-lg;
			}
			@include query("medium") {
				margin: 0 0 0 0;
				img {
					padding: $spacer-lg;
				}
			}
		}
	}
}
