<div class="green__contact">
	<div class="green__contact__inner">
		<div class="green__contact__inner__text">
			<h2>{{options.contact_heading}}</h2>
			<p>{{options.contact_text}}</p>
		</div>
		<div class="green__contact__inner__form">
			{% if options.form_shortcode %}
				{{ options.form_shortcode|shortcodes }}
			{% endif %}
		</div>
	</div>
</div>
