{# Module requires access to options context object #}

<section class="facilities">
	<div class="facilities__meta">
		<h2 class="heading__lg">{{ options.facilities_title }}</h2>
		<p>{{ options.facilities_description }}</p>
		<a class="action__blue">{{ options.facilities_action }}</a>
	</div>
	<div>map replaces this div</div>
</section>
