<header class="header">
	<a href="#main" class="header__skip-nav">Skip Navigation</a>

	<div class="header__inner">
		<a href="/">
			<img class="header__logo" src="/wp-content/uploads/2021/12/FFLogoGrey-1.svg" alt="Future Foam Logo"/>
		</a>
		<nav class="header__nav">
			<ul>
				{% for item in header_nav_menu.get_items %}
					<li>
						<a href="{{ item.link }}">{{ item.title }}</a>
						{% include "menu.twig" with {'menu': item.get_children} %}
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
