{# Module requires access to options context object #}

<section class="history">
	<div class="history__header">
		<h2 class="heading__lg">{{ options.history_title }}</h2>
		<p>{{ options.history_description }}</p>
	</div>
	<div>history timeline replaces this div</div>
</section>
