<section class="history">
	<div class="history__header">
		<h2 class="heading__lg">Our History</h2>
		<p>history description text goes here</p>
	</div>
	<div>history timeline replaces this div</div>
</section>
