{# depends on `options` fields in context #}
{% set rate = options.sustainability__calc.rate %}
{% set iDate = options.sustainability__calc.initialDate %}


<div class="sustainability">
	<div class="sustainability__inner">
		<h2 class="heading__lg">{{ options.sustainability__title }}</h2>
		<p>{{ options.sustainability__description }}</p>

		<div>
			<p class="sustainability__number" data-rate="{{rate}}">0</p>
			<p class="text__strong">{{ options.sustainability__context }}</p>
		</div>

	</div>
</div>
