<div class="wavecontainer">
	<div class="dotcontainer">

		<i class="fas fa-circle dot" id="dot1"></i>
		<i class="fas fa-circle dot" id="dot2">

			<div class="vl"></div>
		</i>
		<i class="fas fa-circle dot" id="dot3"></i>
	</div>
	<div class="stationary_wave"></div>
	<div class="wave background_mask" id="wave"></div>
</div>
