.specialtyBedding__hero {
	--columns: 1fr;
	@include query("large") {
		--columns: 3fr 2fr;
	}

	display: grid;
	gap: $spacer-lg;
	grid-template-columns: var(--columns);
}

.specialtyBedding__productImage {
	max-width: 100%;
}
